<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .description {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div th:replace="general :: page-header"></div>

<div class="description">
    <h1>Система управления сотрудниками и подразделениями</h1>

    <br><h2>Описание использования:</h2>
    
    <br><h3>1. Главная страница.</h3>
    <span>
        Данная страница состоит из шапки-навигации между страницами и из описания возможных
        сценариев использования системы. Шапка-навигации одинаковая на всех страницах, из
        нее можно перейти на главную страницу, страницу подразделений, страницу служащих,
        страницу должностей.<br />
    </span>

    <br><h3>2. Страница управления подразделениями.</h3>
    <span>
        • Форма добавления подразделения находится в верхней части страницы.
        В форме будут столбцы: Название, Руководитель (autocomplete), Название головного
        подразделения (autocomplete). Если написанного в форме руководителя или подразделения
        не будет в соответствующей таблице базы, то вылезет ошибка.<br /><br />
        • Таблица подразделений.<br />
        В данной таблице будут названия-ссылки на страницы каждого подразделения по отдельности.
        • Страница подразделения.<br />
        1. В ней будет основная колонка со строками: Название подразделения, Руководитель,
        Название головного подразделения. Ниже этой колонки будут таблицы внутренних подразделений
        и работников подразделения.<br />
        2. Если подразделение головное, то будет написано название этого же подразделения<br />
        3. В таблице внутренних подразделений будет та же самая информация
        (Название (ссылка), Руководитель (ссылка)). Аналогично и для подтаблицы работников. В ней
        будут столбцы: Имя сотрудника (ссылка), Должность (ссылка).<br />
        4. Рядом будут кнопки измненения подразделения и удаления подразделения.
        При нажатии кнопки удаления вылезет окно подтверждения удаления, после подтверждения
        подразделение будет удалено. При нажатии кнопки изменения откроется страница изменения,
        где можно будет изменить: Название подразделения, Руководителя, Название головного подразделения,
        а также можно будет удалять или добавлять строки в таблицах внутренних подразделений и
        работников. Добавление или удаление строк таблиц возможно только по-одной за раз.
        5. То есть, в режиме редактирования в таблице рядом со строками появятся кнопки
        удаления, а внизу таблицы появится кнопка добавления нового подразделения (кнопка "+").
        При нажатии этой кнопки внизу подтаблицы появится форма для добавления новой строки.
        После внесения данных в нужные поля нужно нажать кнопку "Добавить".
        Для удаления из таблицы внутренних подразделений строки нужно нажать кнопку "Удалить"
        рядом с соотв. строкой.<br />
        7. Аналогичное взаимодействие будет и с таблицей работников подразделения.
        Можно будет назначить или убрать рабочего в данном подразделении. При
        добавлении работника для Имени работника и Должности будут autocomplete
        подсказки (возможно). Для удаления сотрудника нужно нажать кнопку "Закончить
        работу" рядом с соотв строкой. Если рабочего убрали из подразделения, то в его
        истории должностей отразится, что он закончил работу в данном подразделении.<br />
        8. Можно так же изменить "Головное подразделение".<br />
        9. После изменения данных, для подтверждения нужно будет нажать на кнопку
        "Сохранить". При изменении/добавлении чего-то, чего нет в зависимых
        таблицах базы данных, будет выдаваться ошибка.<br />
        10. Таким образом, с помощью такого функционала можно реализовать работу с
        подразделениями, а именно:<br />
        <ul>
            1. Просмотр списка и структуры подразделений.<br />
            2. Просмотр списка служащих и их должностей по конкретному подразделению и
            его вложенным подразделениям.<br />
            3. Назначение или удаление служащего в конкретном подразделении.<br />
            4. Добавление, удаление и редактирования подразделения, возможность добавлять
            или удалять внутренние подразделения и сотрудников.
        </ul>
    </span>

    <br><h3>3. Страница управления сотрудниками.</h3>
    <span>
        • Форма для добавления нового служащего. В форме будут столбцы: ФИО, Дата
        рождения, Адрес, Образование.<br /><br />
        • Поисковик по именам сотрудников, названиям подразделений, сроку службы и
        должностям.<br /><br />
        • Таблица сотрудников.<br />
        1. В ней будут столбец-ссылка на соотв. страницу сотрудника.<br />
        2. На странице сотрудника будет колонка со строками: ФИО, Адрес, Образование,
        Срок работы. Ниже будет таблица истории должностей со столбцами:
        Название должности, Имя подразделения, Начало работы, Конец работы (если
        сотрудник все еще работает в подразделении, то там будет запись "Активен").<br />
        3. Редактирование таблицы сделано аналогично, как и редактирование таблиц
        подразделений. При добавлении/удалении сотрудника из подразделения, это
        отразится и в таблице подразделений на странице подразделений.<br />
        4. Таким образом, с помощью такого функционала можно реализовать работу со
        списком сотрудников, а именно:<br />
        <ul>
            1. Добавление/удаление/редактирование информации о сотрудниках.<br />
            2. Получение истории его работы в компании по датам, подразделениям и
            должностям, добавление, удаление сотрудника для какого-то подразделения.<br />
            3. Можно получать списки сотрудников по определенным критериям (срок
            службы, подразделения, должности).<br />
        </ul>
    </span>

    <br><h3>4. Страница управления должностями.</h3>
    <span>
        • Форма для добавления новой должности. Сверху даны два поля: Название и
        Обязанности. Для добавления сотрудника необходимо  заполнить эти поля и
        нажать кнопку "Добавить". В таблице должностей будет столбец-ссылка на
        страницу должности.<br /><br />
        • Страница должности.<br />
        На странице будет название должности и поля: название должности и обязанность.
        Так же есть кнопки редактировать должность и удалить должность. При редактировании
        появятся формы (как при добавлении должности), которые нужно заполнить и нажать кнопку
        "Сохранить". При удалении вылезет подтверждение удаления.<br /><br />
    </span>

    <h2>Описание сценариев:</h2>
    <br><h3>1. Получение списка подразделений, структуры подразделений.</h3>
    <span>
        Для этого нужно зайти на страницу подразделений, в ней будет таблица с ссылками на страницы
        подразделения с их описанием, для просмотра внутренних подразделений будет дана таблица
        ниже основной информации, для просмотра сотрудников подразделения будет дана таблица ниже
        таблицы структуры подразделений.
    </span><br>

    <br><h3>2. Получение списка служащих, в т.ч. по подразделениям, по сроку работы, по должностям.</h3>
    <span>
        Получить список служащих по подразделениям можно, зайтя на страницу подразделений. Можно
        выбрать нужное подразделение и посмотреть список сотрудников в нем.<br />
        Также можно найти служащих по подразделениям и по должностям, зайдя на страницу всех служащих
        и вбив в нужный поисковик (подразделений или служащих) соотв. название.
        Чтобы найти служащих по сроку работы или по имени, нужно зайти на страницу служащих и в
        поисковике написать ФИО нужного сотрудника. Чтобы получить список служащих по сроку службы,
        нужно зайти на страницу служащих и вбить в поисковике нужный срок службы или название должности.
    </span><br>

    <br><h3>3. Получение истории для данного служащего.</h3>
    <span>
        Для этого нужно открыть страницу служащих и найти (в поисковике, либо вручную) в
        таблице нужного служащего. Далее нужно открыть его страницу и посмотреть таблицу
        истории служащего.
    </span><br>

    <br><h3>4. Назначение служащего на новую должность в заданном подразделении.</h3>
    <span>
        Есть два сценария:<br />
        1. Зайти на страницу подразделений, найти нужное подразделение в таблице, открыть 
        его страницу и нажать на кнопку «Показать работников подразделения», зайти в режим
        редактирования подразделения, нажать на кнопку добавления сотрудника в подтаблицу,
        добавить его, указав должность.<br />
        2. Зайти на страницу служащих, найти служащего, открыть его страницу, зайти в
        режим редактирования, добавить должность в таблицу истории должностей.
    </span><br>

    <br><h3>5. Добавление и удаление служащего, чтение и редактирование данных о нем.</h3>
    <span>
        Нужно зайти на страницу служащих. Нужно заполнить все поля формы добавления сотрудника
        и нажать на кнопку «Добавить». Чтобы удалить сотрудника, нужно найти его в таблице,
        открыть его страницу, нажать на кнопку удаления, вылезет окно подтверждения удаления,
        после подтверждения сотрудник будет удален.
        Для редактирования сотрудника нужно на странице сотрудника нажать кнопку редактирования,
        сделать нужные изменения и нажать на кнопку подтверждения. Все изменения будут сохранены.
    </span><br>

    <br><h3>6. Добавление и удаление подразделения или должности, чтение и редактирование данных о них.</h3>
    <span>
        Алгоритм добавления/удаления/изменения описан в пунктах "2. Страница управления подразделениями."
        и "4. Страница управления должностями.".
    </span><br /><br />
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>
